<h2>List of Comments:</h2>

<% if @comments.empty? %>
	<h2><a href='/articles/<%= @article_id %>/comments/new' >Be the first to comment</a> </h2>
<% else %>


		<table border="1" width="900" class='comment-list' >
			<tr>
				<th id="story">Commenter</th><th id="comments">Comment</th>
			</tr>

		</table>
	<a id='add-comment' href='/articles/<%= @article_id %>/comments/new' >Add a comment</a> <br/>
<% end %>
<a href='/articles/<%= @article_id %>' >Back to story</a> <br/>
<a href='/articles' >Home</a>

<div id="new-comments-form">

</div>

<script>

    // FILL IN THE ARTICLES LIST
      $.getJSON('/articles/<%= @article_id %>/comments', function(comments){
      	$.each(comments, function(index, comment){
      		console.log(comment)
      		$('.comment-list').append(
						'<tr>'
      			+'<td  headers="story" width="200"><p>'
      			+comment.commenter
      			+'</p></td>'
      			+'<td  headers="comments" width="700">'
      			+comment.body
      			+'</td>'
      			+'</tr>'
      			)
      	})

      })
    // ON ADD STORY CLICK SHOW THE FORM FOR ADDING

    $( "#add-comment" ).click(function(event) {

    	event.preventDefault()
  // alert( "Handler for .click() called." );
    	$.get('/articles/<%= @article_id %>/comments/new', function(page){

    		var new_comment_form = $(page).filter("#new-comments-form").html();
    		// console.log(new_comment_form)
    		$('#new-comments-form').append(new_comment_form)
    	});	
	});
</script>
