<!DOCTYPE html>
<html>
<head>
  <title>NewsApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= yield %>
<div class='message'>
	<h1><%= flash[:message] %></h1>
</div>
</body>


</html>

<!-- 
<script>
      jQuery.post('/rename',{name:"Bob"});
</script> -->

    <!-- 		$.('#new-article-form').append(
    			new_form
    	});	 -->